# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

# avvia pipeline quando pull request completa
trigger:
  branches:
    include:
      - main

# avvia pipeline all'arrivo di pull request verso main
pr:
  branches:
    include:
      - main
      
resources:
- repo: self

variables:
  repositoryName: darioparoli/task-manager

stages:
- stage: Test
  displayName: Running test in python environment
  jobs:
  - job: RunPytest
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.x'
      displayName: 'Setta la versione di Python'

    - script: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest pytest-azurepipelines
      displayName: 'Installa dipendenze'

    - script: |
        pytest --doctest-modules --junitxml=junit/test-results.xml
      displayName: 'Esegui i Test'

    # Task opzionale per vedere i risultati graficamente nel tab "Tests" di Azure
    - task: PublishTestResults@2
      condition: succeededOrFailed()
      inputs:
        testResultsFiles: '**/test-results.xml'
        testRunTitle: 'Python Tests'

- stage: Build_Publish
  dependsOn: Test
  displayName: Build Image and publish to Docker Hub
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and publish Docker Image
      inputs:
        containerRegistry: 'docker-hub-connection' # nome del service connection
        repository: $(repositoryName)
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile' 
        tags: |
          $(Build.BuildId)
          latest

- stage: Deploy_Prod
  dependsOn: Test
  displayName: Deploy to Production
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
  variables:
  - group: variabili-prod # Nome del gruppo creato nella Library
  jobs:
  - job: Deploy
    displayName: Deployment su Azure Container App 
    steps:
    - task: AzureContainerApps@1
      inputs:
        azureSubscription: 'azure-devops'
        containerAppName: 'task-manager-app'
        location: 'westeurope'
        resourceGroup: 'Azure-DevOps-test'
        imageToDeploy: docker.io/$(repositoryName):$(Build.BuildId)
