# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - feature/*
      - main
      
resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build_Publish
  displayName: Build Image and publish to Azure
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build Docker Image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          $(tag)

- stage: Deploy_Prod
  displayName: Deploy to Production
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
  variables:
  - group: variabili-prod # Nome del gruppo creato nella Library
  jobs:
  - job: Deploy
    steps:
    - script: |
        echo "Deploying to $(environment_name)"
