# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - feature/*
      - main
      
resources:
- repo: self

variables:
  repositoryName: darioparoli/azure-devops
  tag: '$(Build.BuildId)'

stages:
- stage: Build_Publish
  displayName: Build Image and publish to Docker Hub
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and publish Docker Image
      inputs:
        containerRegistry: 'docker-hub-connection' # nome del service connection
        repository: $(repositoryName)
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'


- stage: Deploy_Prod
  displayName: Deploy to Production
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
  variables:
  - group: variabili-prod # Nome del gruppo creato nella Library
  jobs:
  - job: Deploy
    steps:
    - script: |
        echo "Deploying to $(environment_name)"
