# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

# avvia pipeline quando pull request completa
trigger:
  branches:
    include:
      - main

# avvia pipeline all'arrivo di pull request verso main
pr:
  branches:
    include:
      - main
      
resources:
- repo: self

variables:
  repositoryName: darioparoli/task-manager
  variables:
  isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
  ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/main') }}:
    targetPool: 'Azure Pipelines'
  ${{ else }}:
    targetPool: 'local-ubuntu-vm'

pool:
  name: $(targetPool)

stages:
- stage: Test
  displayName: Running test in python environment
  jobs:
  - job: RunPytest
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.14.3'
      displayName: 'Setta la versione di Python'

    - script: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest pytest-cov pytest-azurepipelines
      displayName: 'Installa dipendenze'

    - script: |
        pytest --junitxml=junit/test-results.xml --cov=. --cov-report=xml --cov-fail-under=60
      displayName: 'Esegui Test e calcola Coverage'

    # Task opzionale per vedere i risultati graficamente nel tab "Tests" di Azure
    - task: PublishTestResults@2
      condition: succeededOrFailed()
      inputs:
        testResultsFiles: '**/test-results.xml'
        testRunTitle: 'Python Tests'

    - task: PublishCodeCoverageResults@2
      condition: succeededOrFailed()
      inputs:
        summaryFileLocation: '**/coverage.xml'
        pathToSources: '$(Build.SourcesDirectory)'
        failIfCoverageEmpty: true

- stage: Build_Publish
  dependsOn: Test
  displayName: Build Image and publish to Docker Hub
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and publish Docker Image
      inputs:
        containerRegistry: 'docker-hub-connection' # nome del service connection
        repository: $(repositoryName)
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile' 
        tags: |
          $(Build.BuildId)
          latest

- stage: Deploy_Test
  dependsOn: Build_Publish
  displayName: Deploy to Test Environment
  condition: and(succeeded(), eq(variables.isMain, false)) # esegue solo se non sono in main
  #variables:
  #- group: variabili-test # Nome del gruppo creato nella Library
  jobs:
  - job: Deploy
    displayName: Deployment Docker Locale
    steps:
    - script: |
        docker stop task-manager-test || true
        docker rm task-manager-test || true
        docker pull docker.io/$(repositoryName):$(Build.BuildId)
        docker run -d -p 8080:8080 --name task-manager-test docker.io/$(repositoryName):$(Build.BuildId)
      displayName: 'Esegui container in locale'


- stage: Deploy_Prod
  dependsOn: Build_Publish
  displayName: Deploy to Production
  condition: and(succeeded(), eq(variables.isMain, true))
  variables:
  - group: variabili-prod # Nome del gruppo creato nella Library
  jobs:
  - job: Deploy
    displayName: Deployment su Azure Container App 
    steps:
    - task: AzureContainerApps@1
      inputs:
        azureSubscription: 'azure-devops'
        containerAppName: 'task-manager-app'
        location: 'westeurope'
        resourceGroup: 'Azure-DevOps-test'
        imageToDeploy: docker.io/$(repositoryName):$(Build.BuildId)
